@page
@model LinearRegressionCalculator.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-3">

    <p class="lead">
        Welcome to our Numerical Simulation Calculator, an advanced tool designed to solve a wide array of mathematical and engineering problems. This website provides a user-friendly interface for performing complex calculations like Linear Regression, solving systems of linear equations using methods like Gauss Elimination and LU Decomposition, and tackling nonlinear equations with techniques such as Newton's Method and the Bisection Method. Whether you're working with differential equations, optimizing functions, or estimating values over a surface, our calculator is equipped to deliver accurate and efficient results.
    </p>
</div>


